$main-color: #37474F;

.menu{
    position: fixed;
    right: 0px;
    background-color: $main-color;
    height: 100%;
    width: 50%;
    top: 0px;
    z-index: 0;
    animation: close 0.3s forwards;
}

.selection{
    color: #fff;
    font-family: 'LemonMilk-regular'; 
    display: block;

    opacity: 0;
    animation: pop 1s forwards;
}

.cat{
    width: 70%;
    border-bottom: 1px solid #fff;
    float: right;
}
.cat li{
    color: #fff;
}
li{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'LemonMilk-bold';
    transition: 0.5s;
}
.cat:hover li,.cat:hover .cat{
    letter-spacing: .3rem;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.2s;
}
//Ma tete

.maTete{
    width: 360px;
    height: 615px;
    position: absolute;
    z-index: 200;
    left: 47%;
    transform: translateX(-50%);
    bottom: 0;
    background-image: url("../../assets/maTete.png");
    background-size: cover;

    opacity: 0;
    animation: pop 1s forwards;
}

//Button

.toggle-button{
    position: fixed;
    right: 25px;
    top: 60px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    z-index: 200;
}
.toggle-button:active, .toggle-button:focus{
    outline-style:none;
}
.btn:active, .btn:focus{
    outline-style:none;
}
.line{
    width : 137px;
    height : 7px;
    background-color: #fff;
    margin-bottom: 20px;

    float: right;
}
.close .l2,.close .l3{
    width: 69px;
    animation: close_btn 0.3s;
}
.open .l2,.open .l3{
    width: 137px;
    animation: open_btn 0.3s;
}

@keyframes pop{
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes close{
    100%{
        width: 187px;
    }
}
@keyframes close_btn{
    0%{
        width: 137px;
    }
}
@keyframes open_btn{
    0%{
        width: 69px;
    }
}

//---- RESPONSIVE ----

//Smartphone
@media screen and (max-width: 1300px) {
    .cat{
        float: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .toggle-button{
        top: 30px;
        z-index: 900;
    }
    .menu{
        background-color: transparent;
        width: 0%;
        height: 100px;
    }
    .close .line{
        background-color: $main-color;
    }
    .selection{
        width: 100%;
    }
}
